h4 {
  font-family: 'Roboto', sans-serif;
}

section#to-do-list {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 2px 8px 3px rgba(151, 151, 151, 0.42);
  margin: 0 auto;
}

.to-do-header {
  width: 100%;
  display: flex;
  height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #cacaca;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

div#to-do-input-container {
  height: 50px;
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
}

input#to-do-input {
  height: 50px;
  width: 100%;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid #c3c3c3;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

input#to-do-input:focus-visible {
  outline: 0;
}

.to-do-icon {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  cursor: move;
}

.to-do-icon svg {
  height: 16px;
  color: #d9d9d9;
  display: flex;
  align-self: flex-end;
}

#to-do-input-container svg {
  position: absolute;
  right: 20px;
}

ul#list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

li.item-to-do {
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #c3c3c3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  gap: 20px;
  position: relative;
}

.remove-btn {
  height: 50px;
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
  background: #efefef;
  width: 100%;
  cursor: pointer;
  color: #6b6b6b;
  font-family: 'Roboto', sans-serif;
}

.to-do-icon.remove {
  display: none;
  right: 30px;
  cursor: pointer;
}

input.input-to-do {
  border: none;
  font-size: 16px;
  display: flex;
  height: 93%;
  width: 80%;
}

input.input-to-do:focus-visible {
  outline: 0;
}

li.item-to-do.edit,
.edit .input-to-do {
  background: #f5ebb3;
}

.edit .to-do-icon.remove {
  display: block;
}

.to-do-icon.drag {
  display: block;
}

.edit .to-do-icon.drag {
  display: none;
}

.checked input.input-to-do {
  text-decoration: line-through;
  color: gray;
}

.remove-btn.disabled {
  cursor: not-allowed;
  background: #c9c9c9;
}
