html {
  box-sizing: border-box;
}

body {
  background-color: rgb(216, 216, 216);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.to-do-list {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.to-do-list > * {
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.226);
  padding-left: 5px;
  justify-content: space-between;
}

h3 {
  margin: 0;
}

input {
  margin-left: 0;
}

button {
  height: 40px;
  border: none;
}


i {
  justify-self: flex-end;
}

.input input {
  border: none;
  font-style: italic;
}

